@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

 

:root{
  
  
  --header-height:3rem;
    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 250; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 69%, 61%) ;
    --first-color-second: hsl(var(--hue-color), 69%, 61%) ;
    --first-color-alt:hsl(var(--hue-color), 57%, 53%) ;
    --first-color-lighter:hsl(var(--hue-color), 92%, 85%) ;
    
    /* --title-color:hsl(var(--hue-color), 8%, 0%) ; */
    --title-color:rgba(43, 43, 43, 0.9);
    
    --text-color:hsl(var(--hue-color), 8%, 45%) ;
    --text-color-light:hsl(var(--hue-color), 8%, 65%) ;
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;

    /*========== Font and typography ==========*/
    --body-font: "Poppins" ;
    --h1-font-size:1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;

    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

        /*========== SCROLL BAR COLOR ==========*/

    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color:hsl(var(--hue-color), 12%, 80%);

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    /* --big-font-size: 2rem ;
    --h1-font-size: 1.5rem ;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem; */

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

        /*========== Font weight ==========*/


    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    /* --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: ;
    --mb-2-5: ;
    --mb-3: ; */

        /*========== Padding in different screens ==========*/

    --sm-padding:17px;
    --md-padding:20px;
    --lg-padding:30px;
    --xl-padding:220px;
    --xl2-padding:100px;




    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 100;
}


/* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
      --big-font-size: 3rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
  }
}

/*========== Variables Dark theme ==========*/


input,
textarea,
button,
select,
div,
a {
  -webkit-tap-highlight-color: transparent !important;
}

/*========== Padding in different screens ==========*/



/*==================== BASE ====================*/

html{
  scroll-behavior: smooth;
}

 

h1,h2,h3,h4{
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul{
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
  height: auto;
}


 

/*==================== REUSABLE CSS CLASSES ====================*/

.section{
  padding: 2rem 0 4rem;
}


.section_title{
  font-size: var(--h1-font-size);
}
.section_subtitle{
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 3rem;
}

.section_title, .section_subtitle{
  text-align: center;
}

/* .container{
  max-width: 768px;
  
} */

.grid{
  display: grid;
  gap: 1.5rem;
}


/*==================== LAYOUT ====================*/


/*==================== NAV ====================*/

.nav_menu{
  box-shadow: 0px -1px 8px 2px rgba(0,0,0,0.14);
  border-radius: 1.5rem 1.5rem 0 0 ;
  transition: .3s;
  background-color: #eee;
  padding-top: 30px;
  padding: 30px 20px 60px;
}

.nav_list{
  grid-template-columns: repeat(3,1fr);
  gap: 2rem;
}
.nav_link{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
}
.nav_link:hover{
  color: var(--first-color);
}

.nav_icon{
  font-size: 1.2rem;
}



/* show menu */

.show-menu{
  bottom: 0;
}


/* Active link */


/* Change background header */

.mobile-header-shadow{
  box-shadow: 0px -1px 4px  rgba(0,0,0,0.15)
}


/*==================== HOME ====================*/

.home_content{
  grid-template-columns: .5fr 3fr;
}

.home_social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}
.home_social i{
  color: var(--first-color);
}
.home_social i:hover{
  color: var(--first-color-alt);
}





/*==================== BUTTONS ====================*/

.button_small{
  /* color: black; */
  padding: .75rem 1rem;
}

.button{
  display: inline-block;
  background-color: var(--first-color);
  padding: 1rem;
  color: #fff;
  border-radius: .5rem;
  font-weight: var(--font-medium);
}

.button-white{

  background-color: white;
  color: var(--first-color);
}

.button-white:hover{
  background-color: white !important;
}


.button:hover{
  background-color: var(--first-color-alt);
}

.button_icon{
  font-size: 1.25rem;
  margin-left: 5px;
  transition: .3s;
}

.button_flex{
  display: inline-flex;
  align-items: center;
}




/*==================== ABOUT ====================*/




/*==================== SKILLS ====================*/

.skills-list{
  margin-left: 50px;
}


.skill_close .skills-list{
  display: none;
  
}

.skill_open .skills-list{
  display: block;
}


/*==================== QUALIFICATION ====================*/


/*==================== SERVICES ====================*/

.service-content{
  padding: 3.5rem .5rem 1.25rem 1.5rem;
  box-shadow: 0px 2px 4px rgba(0,0,0,.15);
}
.service-modal{
  background-color: rgba(0, 0, 0, 0.722);
}


.service-content:hover{
  box-shadow: 0px 4px 8px rgb(0, 0, 0,.15);
}
/* Active Modal */


.modal-visible{
  opacity: 1 ;
  /* display: flex; */
  visibility: visible ;
}

 

/*==================== PORTFOLIO ====================*/

.project-filter li{
  margin: 10px ;
  padding: 5px 20px;
  color: #9b9b9b;
  font-size: 1rem;
  letter-spacing: .5px;
  font-weight: 400;
  cursor: pointer;
  user-select: none;
  box-shadow: 0px 2px 8px rgb(0, 0, 0,.15);

}

.Project-active{
  background-color: var(--first-color);
  color: white !important;
  box-shadow: 0px 4px 8px rgb(0, 0, 0,.15);

}

.project-box img{
  width: 200px;
  margin: 0px auto;
}


/* @media screen and (min-width: 640px) {
   .project-box img{
    width: 500px ;
   }
} */






/*==================== PROJECT IN MIND ====================*/

#Project img{
  width: 232px;
  align-self: center;
  
}

/*==================== TESTIMONIAL ====================*/

.testimonialswiper .swiper-slide{
  margin: 0px 0px;
  text-align: left;
  height: fit-content;
}

 /* .testimonialswiper .swiper-pagination{
  display: none;
 } */

 

/*======== Swiper =========*/

.swiper {
  width: 100%;
  
  /* height: 100%; */
}

.swiper-slide {
  /* text-align: center; */
  font-size: 18px;
  
  /* background: #fff; */
  
  /* height: 300px !important; */
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin: 50px 0px;
  /* box-shadow: 0px 2px 4px rgba(0,0,0,.15); */
  /* box-shadow: 0px 4px 8px rgb(0, 0, 0,.15); */

}
 


/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

/*==================== CONTACT ME ====================*/

.contact_title{
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}
.contact_subtitle{
  font-size: var(--medium-font-size);
  color: var(--text-color);
}
.contact_content{
  background-color: var(--input-color);
  border-radius: .5rem;
  margin-bottom: var(--m-1-5);
  padding: .75rem 1rem .25rem;
}
.contact_label{
  font-size: var(--smalller-font-size);
  color: var(--title-color);
}
.contact_input{
  width: 100%;
  background-color: var(--input-color);
  color: var(--text-color);
  font-size: var(--normal-font-size);
  border:none;
  outline: none;
  padding: .25rem .5rem .5rem 0;

}

.contact_icon{
  font-size: 2rem;
  color: var(--first-color);
 }

 

/*==================== FOOTER ====================*/

.footer_bg{
  padding: 2rem 0rem 2rem;
}

.footer_social a{
  font-size: 1.25rem;
 }
 .footer_links li a{
  cursor: pointer;
 }

 .footer_links li a:hover{
  color: var(--first-color-lighter);
 }

.footer_social a:hover{
  color: var(--first-color-lighter);
}

/*========== SCROLL UP ==========*/


.scrolltop-icon{
   border-radius: .4rem;
   z-index: var(--z-tooltip);
}
.scrolltop-icon:hover{
  background-color: var(--first-color-alt);
}

.scrolltop-icon{
  font-size: 1.5rem;
}

.showscroll{
  bottom: 80px;
}


/* Show scroll */ 


/*========== SCROLL BAR ==========*/


::-webkit-scrollbar{
  width: .60rem ;
  background-color: var(--scroll-bar-color);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb{
  background-color: var(--first-color-alt);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
  background-color: var(--first-color);
}



/*==================== MEDIA QUERIES ====================*/
/* For small devices */


/* For medium devices */


/* For large devices */

html,
body {
  padding: 0;
  margin: 0;
  margin-bottom: 500px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
